.mtg {
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: rgba(144, 14, 14, 0.745);
    margin: auto;
    padding: 2%;
    margin-bottom: 20px;
}

.mtg > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.story{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 3%;
}

.img {
    height: 500;
    border: solid 1px black;
    box-shadow: 8px 8px red, 16px 16px black;
}

.titleStory{
    text-shadow: 3px 3px rgb(169, 8, 8);
}

.titleMtg{
    text-shadow: 6px 3px rgb(1, 1, 1);
}

p{
    padding: 0;
    margin: 0;
    font-weight: bold;
}